@model HomeModel

@{
    ViewData["Title"] = "Home Page";
}

<p>@ViewBag.ErrorMessage</p>

@using (Html.BeginForm("DatabaseLobby", "Home", FormMethod.Post))
{
    @Html.TextBoxFor(model => model.Name)
    @Html.ValidationMessageFor(model => model.Name)
    <button type="submit" value="" autocomplete="off">Enter</button>
}