@model DatabaseModel

@{
    ViewData["Title"] = "Home Page";
}


<input type="file" name="database" accept=".json"/>

@using (Html.BeginForm("CreateDatabase", "Home", FormMethod.Post))
{
    @Html.TextBoxFor(model => model.Name)
    @Html.ValidationMessageFor(model => model.Name)
    <button type="submit">Create database</button>
}