<div class="about row">
	<div class="col-md-7">
		<h1 class="about-title">Parcs Cloud</h1>
		<pre class="about-text">
Cистема програмування ПАРКС (Паралельні Асинхронні Рекурсивно - Керовані Системи)
-  це сукупність програмних засобів, що підтримують процес розробки та реалізації
алгоритмів паралельної обробки інформації за рахунок розширення базових алг мов.
Унікальність цієї системи полягає в тому, що запропоновані нею програмні засоби
сполучають найбільш могутні алгоритмічні концепції - рекурсію та паралельність.
		</pre>
	</div>
	<div class="about-photo col-md-offset-1 col-md-4"></div>
</div>